@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    background-size: 100% 120%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('https://cdn.discordapp.com/attachments/1175991933227782165/1187453820192706640/loginBg.png?ex=6596f18c&is=65847c8c&hm=fc04db2da634d8c8c0054484abaf274fbc7334709ddf91716e7ed86da7486f1a&');
}

container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.username,.password
{
    font-weight: 400;
    font-size: 1.125rem;
}

.password{
    margin-top: 1.4rem;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header
{
    font-size: 2rem;
    font-weight: 800;
}

.container-login
{
    background-color: #ffffff;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 3rem;
    width: 435px;
}

.col-xs-12
{
    margin-top:6rem !important; 
}

#login
{
    background-color: #28B7E1;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    color: #fff;
}
button a{
    text-decoration: none;
    color: inherit;
}
.loginButton{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}