.menu-orders {
    display: flex;
    margin-left: 2rem;
  }
  .menu-item {
    text-align: center;
    width: 190px;
    padding: 10px;
    color: var(--MBN---Grey, #b3b7ba);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }
  .menu-orders a {
    text-decoration: none;
  }
  
  .active {
    color: var(--mbn-blue-500, #009fc9);
    border-bottom: 5px solid var(--mbn-blue-500, #009fc9);
  }
  
  .status {
    width: 100%;
    margin-left: 1.3rem;
    padding: 6px 2px;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 100px;
    background: #f4ebcb;
  }
  
  .circle-status {
    width: 16px;
    height: 16px;
    background-color: #F1BC00;
    background-color: #b94a00;
    border-radius: 100%;
  }
  