.menu-orders {
    display: flex;
    margin-left: 2rem;
  }
  .menu-item {
    text-align: center;
    width: 190px;
    padding: 10px;
    color: var(--MBN---Grey, #b3b7ba);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }
  .menu-orders a {
    text-decoration: none;
  }
  
  .active {
    color: var(--mbn-blue-500, #009fc9);
    border-bottom: 5px solid var(--mbn-blue-500, #009fc9);
  }
  
  .status {
    padding: 6px 2px 6px 0.5rem;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 100px;
    background: #f4ebcb;
  }
  
  .circle-status {
    width: 16px;
    height: 16px;
    background-color: #F1BC00;
    background-color: #b94a00;
    border-radius: 100%;
  }
  
  @media (min-width:1600px)
  {
    .status {
      padding: 6px 2px 6px 0.5rem;
      display: flex;
      align-items: center;
      width: 93%;
      gap: 7px;
      border-radius: 100px;
      background: #f4ebcb;
    }
  }
  @media (min-width:1700px)
  {
    .status {
      padding: 6px 2px 6px 0.5rem;
      display: flex;
      align-items: center;
      width: 80%;
      gap: 7px;
      border-radius: 100px;
      background: #f4ebcb;
    }
  }
  @media (max-width:1350px)
  {
    .status {
      padding: 6px 2px 6px 0.5rem;
      display: flex;
      align-items: center;
      gap: 7px;
      border-radius: 100px;
      background: #f4ebcb;
    }
    table th,
    table td {
      border-left: none; /* ลบเส้นขอบด้านซ้ายของเซลล์ */
      border-right: none; /* ลบเส้นขอบด้านขวาของเซลล์ */
      border: none;
      font-size: clamp(6px,0.625vw,10px);
    }
  }