<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/orderhst.css">
    <link rel="stylesheet" href="../css/orders.css">
    <link rel="stylesheet" href="../css/Modalpopup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>My Beer</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <!-- ส่วนทางซ้าย -->
            <h1 class="logo"></h1>

            <div style="text-align: center;">
                <h1>My Beer <br> Back Office</h1>
            </div>
            <div class="main">
                <br>
                <ul class="menu">
                    <h2>General Setting</h2>
                </ul>
                <ul class="menu">
                    <button><a href="member.html">
                            <p><i class="bi bi-people"></i>สมาชิก</p>
                        </a></button>

                </ul>
                <ul class="menu">
                    <button><a href="orders.html">
                            <p><i class="bi bi-box-seam"></i>รายการสั่งซื้อ</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="productChange.html">
                            <p><i class="bi bi-box-seam"></i>แลกซื้อสินค้า</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-boxes"></i>จัดการสินค้า</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="admin.html">
                            <p><i class="bi bi-person-circle"></i>Admin</p>
                        </a></button>
                </ul>
                <hr style="margin: 10px;">
                <ul class="menu">
                    <h2>Game Setting</h2>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-award"></i>ผู้เล่น</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-controller"></i>ตั้งค่าเกม</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-boxes"></i>Product Reward</p>
                        </a></button>
                </ul>
                <hr style="margin: 10px;">
                <button class="logout" id="modalLogout">
                    <p><i class="bi bi-arrow-bar-right"></i>Log out</p>
                </button>

                <!-- Logout modal -->
                <div id="LogoutModal" class="Logoutmodal">
                    <!-- Modal content -->
                    <div class="Logout-content">
                        <div class="modal-header">
                            <div class="Logout"><i class="bi bi-arrow-bar-right"></i>Log out</div>
                        </div>
                        <div class="modal-body">
                            <div class="sure-logout">Are you sure you want to Log out</div>
                        </div>
                        <div class="footer-logout">
                            <button id="cancels" class="cancelslogout">Cancel</button>
                            <button id="LogoutBtn" class="btn-logout">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <!-- ส่วนทางขวา -->
            <nav>
                <h1>สมาชิก</h1>
                <h1><i class="bi bi-bell-fill" style="color:#28B7E1;cursor: pointer;"></i></h1>
            </nav>
            <form action="">
                <div class="search-icon">
                    <div class="icon"><i class="bi bi-search"></i></div>
                    <div class="input">
                        <input type="text" placeholder="Search" id="mysearch">
                    </div>
                </div>
            </form>
            <div style="margin-top: 4rem;"></div>
            <div class="dataTable">
                <table>
                    <tr class="header-content">
                        <th class="col_1">
                            <h2>No.</h2>
                        </th>
                        <th class="col_4">
                            <h2>Line ID</h2>
                        </th>
                        <th class="col_3">
                            <h2>name</h2>
                        </th>
                        <th class="col_4">
                            <h2>Line Point</h2>
                        </th>
                        <th class="col_4">
                            <h2>Action</h2>
                        </th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Griffin</td>
                        <td>$100</td>
                        <td>Griffin</td>
                        <td>
                            <btn><a href="orderhst.html">
                                    <p1>ดูรายละเอียด</p1>
                                </a></btn>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Griffin</td>
                        <td>$150</td>
                        <td>Griffin</td>
                        <td>
                            <btn><a href="orderhst.html">
                                    <p1>ดูรายละเอียด</p1>
                                </a></btn>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Swanson</td>
                        <td>$300</td>
                        <td>Griffin</td>
                        <td>
                            <btn><a href="orderhst.html">
                                    <p1>ดูรายละเอียด</p1>
                                </a></btn>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>$250</td>
                        <td>Griffin</td>
                        <td>$100</td>
                        <td>
                            <btn><a href="orderhst.html">
                                    <p1>ดูรายละเอียด</p1>
                                </a></btn>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="dataTable">
                <div class="numberNo">
                    <div class="boxNo"><a href="">
                            <h1>1</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>2</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>3</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>4</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>5</h1>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/Modal.js"></script>

</body>

</html>