<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/orderhst.css">
    <link rel="stylesheet" href="../css/orders.css">
    <link rel="stylesheet" href="../css/Modalpopup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>My Beer</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <!-- ส่วนทางซ้าย -->
            <h1 class="logo"></h1>

            <div style="text-align: center;">
                <h1>My Beer<br>Back Office</h1>
            </div>
            <div class="main">
                <br>
                <ul class="menu">
                    <h2>General Setting</h2>
                </ul>
                <ul class="menu">
                    <button><a href="member.html">
                            <p><i class="bi bi-people"></i>สมาชิก</p>
                        </a></button>

                </ul>
                <ul class="menu">
                    <button><a href="orders.html">
                            <p><i class="bi bi-box-seam"></i>รายการสั่งซื้อ</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="productChange.html">
                            <p><i class="bi bi-box-seam"></i>แลกซื้อสินค้า</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-boxes"></i>จัดการสินค้า</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-person-circle"></i>Admin</p>
                        </a></button>
                </ul>
                <hr style="margin: 10px;">
                <ul class="menu">
                    <h2>Game Setting</h2>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-award"></i>ผู้เล่น</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-controller"></i>ตั้งค่าเกม</p>
                        </a></button>
                </ul>
                <ul class="menu">
                    <button><a href="">
                            <p><i class="bi bi-boxes"></i>Product Reward</p>
                        </a></button>
                </ul>
                <hr style="margin: 10px;">
                <button class="logout" id="modalLogout">
                    <p><i class="bi bi-arrow-bar-right"></i>Log out</p>
                </button>

                <!-- Logout modal -->
                <div id="LogoutModal" class="Logoutmodal">
                    <!-- Modal content -->
                    <div class="Logout-content">
                        <div class="modal-header">
                            <div class="Logout"><i class="bi bi-arrow-bar-right"></i>Log out</div>
                        </div>
                        <div class="modal-body">
                            <div class="sure-logout">Are you sure you want to Log out</div>
                        </div>
                        <div class="footer-logout">
                            <button id="cancels" class="cancelslogout">Cancel</button>
                            <button id="LogoutBtn" class="btn-logout"><a href="../login.html">Logout</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <!-- ส่วนทางขวา -->
            <nav>
                <h1><a href="member.html" style="color: white;"><i class="bi bi-chevron-left"></i></a>Details</h1>
                <h1><i class="bi bi-bell-fill" style="color:#28B7E1;cursor: pointer;"></i></h1>
            </nav>
            <form action="">
                <div class="search-icon">
                    <div class="icon"><i class="bi bi-search"></i></div>
                    <div class="input">
                        <input type="text" placeholder="Search" id="mysearch">
                    </div>
                </div>
            </form>
            <div class="userProfile">
                <div><img class="photo"
                        src="https://static.printler.com/cache/c/8/8/e/6/2/c88e62cb33a7b6e20b60af964d362a10883a43a1.jpg"
                        alt=""></div>
                <div class="userData">
                    <div>
                        <ul class="userDB">
                            <h1>Peter Parker</h1>
                        </ul>
                        <ul class="userDB">
                            <div>Line ID : <label>Marina Molly</label></div>
                        </ul>
                        <ul class="userDB">
                            <div>Your LINE Point :<label><i class="bi bi-p-circle-fill"
                                        style="color: #00CB42;padding-left: 15px;margin-right: 5px;"></i>Marina
                                    Molly</label></div>
                        </ul>
                        <ul class="userDB">
                            <div>Game Point : <label><i class="bi bi-controller"
                                        style="color: #28B7E1;padding-left: 15px;margin-right: 5px;"></i>Marina
                                    Molly</label></div>
                        </ul>
                        <ul class="userDB">
                            <div>ที่อยู่การจัดส่งสินค้า : <br><br><label>ที่อยู่ 0/0 ตำบล เสาธงหิน ฮเภอ บางใหญ่ จังหวัด
                                    นนทบุรี รหัสไปรษณีย์ 11140</label></div>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <p><i class="bi bi-list"></i>Action</p>
                        <div class="dropdown-content">
                            <p style="padding-bottom: 10px;"><a href="" style="color: #E08856;"><i
                                        class="bi bi-x-circle"></i>Freez Account</a></p>
                            <hr>
                            <p style="padding-top: 10px;"><a href="" style="color: #C83B3B;"><i
                                        class="bi bi-trash3"></i>Delete User</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menuUser">
                <a href="orderhst.html" class="menu-item">
                    <div>ประวัติการสั่งซื้อ</div>
                </a>
                <a href="userProductChange.html" class="menu-item">
                    <div>การแลกซื้อสินค้า</div>
                </a>
            </div>
            <hr style="margin-top: 2px;">
            <div class="dataTable">
                <table>
                    <tr class="header-content">
                        <th class="col_1">
                            <h2>No.</h2>
                        </th>
                        <th>
                            <h2>หมายเลขสั่งซื้อ</h2>
                        </th>
                        <th>
                            <h2>วันที่ทำรายการ</h2>
                        </th>
                        <th>
                            <h2>ชื่อผู้ใช้</h2>
                        </th>
                        <th class="col_3">
                            <h2>สินค้า</h2>
                        </th>
                        <th>
                            <h2>ชื่อสินค้า</h2>
                        </th>
                        <th>
                            <h2>จำนวน</h2>
                        </th>
                        <th>
                            <h2>ราคา (บาท)</h2>
                        </th>
                        <th>
                            <h2>จำนวน Point ที่ใช้แลก</h2>
                        </th>
                        <th>
                            <h2>คงเหลือ</h2>
                        </th>
                        <th>
                            <h2>Approve</h2>
                        </th>
                        <th>
                            <h2>Shipping</h2>
                        </th>
                        <th class="col_3">
                            <h2>รายละเอียด</h2>
                        </th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2023102300005</td>
                        <td>12/12/2023</td>
                        <td>Peter Parker</td>
                        <td><i class="bi bi-card-image"></i></td>
                        <td>Name of tyle</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Quantity of point for Change</td>
                        <td>remaining</td>
                        <td>remaining</td>
                        <td>
                            <div class="status">
                                <div class="circle-status"></div>
                                <div class="show-status">Shipping</div>
                            </div>
                        </td>
                        <td>
                            <btn>
                                <p1>กำลังดำเนินการ</p1>
                            </btn>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>12/12/2023</td>
                        <td><i class="bi bi-card-image"></i></td>
                        <td>Name of tyle</td>
                        <td>
                            <btn>
                                <p1>ยืนยันสิทธิ์</p1>
                            </btn>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>12/12/2023</td>
                        <td><i class="bi bi-card-image"></i></td>
                        <td>Name of tyle</td>
                        <td>
                            <btn>
                                <p1>ปฏิเสธ</p1>
                            </btn>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="dataTable">
                <div class="numberNo">
                    <div class="boxNo"><a href="">
                            <h1>1</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>2</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>3</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>4</h1>
                        </a></div>
                    <div class="boxNo"><a href="">
                            <h1>5</h1>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Js/detail.js"></script>
    <script src="../js/Modal.js"></script>

</body>

</html>